<main class="auctions">
<section class="current-auction">
<h2>- current auction -</h2>
  {{#each products}}
<div class="auction-items">
<img calss="img" src="/images/{{image}}" alt="{{description}}">
 <p><a class="pname" href="/product/{{id}}">{{product_name}}</a><p>
 <p>Product Price: {{price}}</p>
 <p>Product quantity: {{stock}}</p>
 <p>Product Description: {{description}}</p>
</div>
    {{/each}}
</section>

    <article class="post">
      <div class="title">
      <img calss="img" src="/images/{{image}}" alt="{{description}}">
      </div>
    </article>
 

<script src="/javascript/product-info.js"></script>
<script src="/javascript/slider.js"></script>
