<ol class="post-list card container">
  {{#each products}}
  <oi>
    <article class="post">
      <div class="title">
        <h1 class="active">{{product_name}}</h1>
        <p>Product Id: {{id}}</p>
        <p>Product Name: {{product_name}}</p>
        <p>Product Price: {{price}}</p>
        <p>Product Stock: {{stock}}</p>
        <p>Product Description: {{description}}</p>
        {{!-- Neeeds anchor tag along with the photos with the path --}}
        <p>Product Image: {{image}}</p>
        <p>Product Category: {{category_id}}</p>
      </div>
      {{!-- <div class="meta">
        {{vote_count}} point(s) by {{user.username}} on
        {{created_at}}
        |
        <a href="/post/{{id}}">{{comments.length}} comment(s)</a>
      </div> --}}
    </article>
    {{/each}}
</ol>
</ol>