<div class="container">
  <div class="card">
    <h1>Welcome {{user.firstname}} {{user.lastname}}</h1>
    <p>Username:{{user.username}}</p>
    <p>Email:{{email}}</p>
    <p>Address:{{address}}</p>
  </div>
</div>