  <section class="current-auction">
        <h2>- current auction -</h2>
         <div class="auction-items"></div>
            <p>category: {{product.category.category_name}}</p>
            <img calss="img" src="/images/{{product.image}}" alt="{{product.description}}">
            <p>Product name: {{product.product_name}}</p>
            <p>Description: {{product.description}}</p>
            <P>quantity: {{product.stock}}</P>
            <p>Bidding price: {{product.price}}</p>
        </div>
        <form class ="bid-form">
            <div>
                <lable for="bidding">place a</lable>
                <input  type="text" id ="bid"  value="{{product.price}}"></input>
                <div>
                <button type="submit"> bid </button>
                </div>
            </div>
        </form>
    </section>
    <!-- Creat Countdown Timer -->
   <div id="Container"></div>
</script> 
<script src="/javascript/bid.js"></script>